FORMAT: 1A
HOST: http://docker.lancehudson.io/

# Docker Build Server

This is a API supporting a docker image build service that deeply integrates with GitHub.

## Ping [/api/v1/ping]

This API is so that a load balancer or other service can check that the api is online and the server's load.

### Health Check [GET]

+ Response 200 (application/json)

        {
          "timestamp": 1449466367912,
          "uptime": 2.922,
          "resources": {
            "memory": {
              "rss": 63127552,
              "heapTotal": 42249216,
              "heapUsed": 29344496
            },
            "loadavg": [
              1.8544921875,
              1.87451171875,
              1.9169921875
            ]
          }
        }
        
+ Response 403 (application/json)

        {
          "errors": [
            {
              "code": "ForbiddenError",
              "title": "forbidden"
            }
          ]
        }

## GitHub WebHook [/api/v1/github]

This endpoint handles all incoming webhooks from GitHub.

### WebHook [POST]

+ Request (application/json)

    + Headers
    
            X-Github-Event: ping
    
    + Body

            {
                "zen": "Encourage flow.",
                "hook_id": 5335574,
                "hook": {
                    "url": "https://api.github.com/repos/lancehudson/docker_mysql/hooks/5335574",
                    "test_url": "https://api.github.com/repos/lancehudson/docker_mysql/hooks/5335574/test",
                    "ping_url": "https://api.github.com/repos/lancehudson/docker_mysql/hooks/5335574/pings",
                    "id": 5335574,
                    "name": "web",
                    "active": true,
                    "events": [
                        "create",
                        "pull_request",
                        "push"
                    ],
                    "config": {
                        "url": "https://33946bf3.ngrok.com",
                        "content_type": "json",
                        "insecure_ssl": "0",
                        "secret": "********"
                    },
                    "last_response": {
                        "code": null,
                        "status": "unused",
                        "message": null
                    },
                    "updated_at": "2015-07-18T05:59:52Z",
                    "created_at": "2015-07-18T05:59:52Z"
                },
                "repository": {
                    "id": 39281085,
                    "name": "docker_mysql",
                    "full_name": "lancehudson/docker_mysql",
                    "owner": {
                        "login": "lancehudson",
                        "id": 1708894,
                        "avatar_url": "https://avatars.githubusercontent.com/u/1708894?v=3",
                        "gravatar_id": "",
                        "url": "https://api.github.com/users/lancehudson",
                        "html_url": "https://github.com/lancehudson",
                        "followers_url": "https://api.github.com/users/lancehudson/followers",
                        "following_url": "https://api.github.com/users/lancehudson/following{/other_user}",
                        "gists_url": "https://api.github.com/users/lancehudson/gists{/gist_id}",
                        "starred_url": "https://api.github.com/users/lancehudson/starred{/owner}{/repo}",
                        "subscriptions_url": "https://api.github.com/users/lancehudson/subscriptions",
                        "organizations_url": "https://api.github.com/users/lancehudson/orgs",
                        "repos_url": "https://api.github.com/users/lancehudson/repos",
                        "events_url": "https://api.github.com/users/lancehudson/events{/privacy}",
                        "received_events_url": "https://api.github.com/users/lancehudson/received_events",
                        "type": "User",
                        "site_admin": false
                    },
                    "private": false,
                    "html_url": "https://github.com/lancehudson/docker_mysql",
                    "description": "Customized MySQL Docker image",
                    "fork": false,
                    "url": "https://api.github.com/repos/lancehudson/docker_mysql",
                    "forks_url": "https://api.github.com/repos/lancehudson/docker_mysql/forks",
                    "keys_url": "https://api.github.com/repos/lancehudson/docker_mysql/keys{/key_id}",
                    "collaborators_url": "https://api.github.com/repos/lancehudson/docker_mysql/collaborators{/collaborator}",
                    "teams_url": "https://api.github.com/repos/lancehudson/docker_mysql/teams",
                    "hooks_url": "https://api.github.com/repos/lancehudson/docker_mysql/hooks",
                    "issue_events_url": "https://api.github.com/repos/lancehudson/docker_mysql/issues/events{/number}",
                    "events_url": "https://api.github.com/repos/lancehudson/docker_mysql/events",
                    "assignees_url": "https://api.github.com/repos/lancehudson/docker_mysql/assignees{/user}",
                    "branches_url": "https://api.github.com/repos/lancehudson/docker_mysql/branches{/branch}",
                    "tags_url": "https://api.github.com/repos/lancehudson/docker_mysql/tags",
                    "blobs_url": "https://api.github.com/repos/lancehudson/docker_mysql/git/blobs{/sha}",
                    "git_tags_url": "https://api.github.com/repos/lancehudson/docker_mysql/git/tags{/sha}",
                    "git_refs_url": "https://api.github.com/repos/lancehudson/docker_mysql/git/refs{/sha}",
                    "trees_url": "https://api.github.com/repos/lancehudson/docker_mysql/git/trees{/sha}",
                    "statuses_url": "https://api.github.com/repos/lancehudson/docker_mysql/statuses/{sha}",
                    "languages_url": "https://api.github.com/repos/lancehudson/docker_mysql/languages",
                    "stargazers_url": "https://api.github.com/repos/lancehudson/docker_mysql/stargazers",
                    "contributors_url": "https://api.github.com/repos/lancehudson/docker_mysql/contributors",
                    "subscribers_url": "https://api.github.com/repos/lancehudson/docker_mysql/subscribers",
                    "subscription_url": "https://api.github.com/repos/lancehudson/docker_mysql/subscription",
                    "commits_url": "https://api.github.com/repos/lancehudson/docker_mysql/commits{/sha}",
                    "git_commits_url": "https://api.github.com/repos/lancehudson/docker_mysql/git/commits{/sha}",
                    "comments_url": "https://api.github.com/repos/lancehudson/docker_mysql/comments{/number}",
                    "issue_comment_url": "https://api.github.com/repos/lancehudson/docker_mysql/issues/comments{/number}",
                    "contents_url": "https://api.github.com/repos/lancehudson/docker_mysql/contents/{+path}",
                    "compare_url": "https://api.github.com/repos/lancehudson/docker_mysql/compare/{base}...{head}",
                    "merges_url": "https://api.github.com/repos/lancehudson/docker_mysql/merges",
                    "archive_url": "https://api.github.com/repos/lancehudson/docker_mysql/{archive_format}{/ref}",
                    "downloads_url": "https://api.github.com/repos/lancehudson/docker_mysql/downloads",
                    "issues_url": "https://api.github.com/repos/lancehudson/docker_mysql/issues{/number}",
                    "pulls_url": "https://api.github.com/repos/lancehudson/docker_mysql/pulls{/number}",
                    "milestones_url": "https://api.github.com/repos/lancehudson/docker_mysql/milestones{/number}",
                    "notifications_url": "https://api.github.com/repos/lancehudson/docker_mysql/notifications{?since,all,participating}",
                    "labels_url": "https://api.github.com/repos/lancehudson/docker_mysql/labels{/name}",
                    "releases_url": "https://api.github.com/repos/lancehudson/docker_mysql/releases{/id}",
                    "created_at": "2015-07-18T00:32:01Z",
                    "updated_at": "2015-07-18T02:45:51Z",
                    "pushed_at": "2015-07-18T02:42:17Z",
                    "git_url": "git://github.com/lancehudson/docker_mysql.git",
                    "ssh_url": "git@github.com:lancehudson/docker_mysql.git",
                    "clone_url": "https://github.com/lancehudson/docker_mysql.git",
                    "svn_url": "https://github.com/lancehudson/docker_mysql",
                    "homepage": "https://registry.hub.docker.com/u/lancehudson/docker-mysql/",
                    "size": 0,
                    "stargazers_count": 0,
                    "watchers_count": 0,
                    "language": "Shell",
                    "has_issues": true,
                    "has_downloads": true,
                    "has_wiki": true,
                    "has_pages": false,
                    "forks_count": 0,
                    "mirror_url": null,
                    "open_issues_count": 0,
                    "forks": 0,
                    "open_issues": 0,
                    "watchers": 0,
                    "default_branch": "master"
                },
                "sender": {
                    "login": "lancehudson",
                    "id": 1708894,
                    "avatar_url": "https://avatars.githubusercontent.com/u/1708894?v=3",
                    "gravatar_id": "",
                    "url": "https://api.github.com/users/lancehudson",
                    "html_url": "https://github.com/lancehudson",
                    "followers_url": "https://api.github.com/users/lancehudson/followers",
                    "following_url": "https://api.github.com/users/lancehudson/following{/other_user}",
                    "gists_url": "https://api.github.com/users/lancehudson/gists{/gist_id}",
                    "starred_url": "https://api.github.com/users/lancehudson/starred{/owner}{/repo}",
                    "subscriptions_url": "https://api.github.com/users/lancehudson/subscriptions",
                    "organizations_url": "https://api.github.com/users/lancehudson/orgs",
                    "repos_url": "https://api.github.com/users/lancehudson/repos",
                    "events_url": "https://api.github.com/users/lancehudson/events{/privacy}",
                    "received_events_url": "https://api.github.com/users/lancehudson/received_events",
                    "type": "User",
                    "site_admin": false
                }
            }

+ Response 200 (text/plain)

        Ping Successful

+ Request (application/json)

    + Headers
    
            X-Github-Event: push
    
    + Body

            {
              "ref": "refs/heads/master",
              "before": "79e9b5034246ffd723d328a332cd883e50bac0c4",
              "after": "689089283aab74acbc880cf450b6aed457de65b1",
              "created": false,
              "deleted": false,
              "forced": false,
              "base_ref": null,
              "compare": "https://github.com/lancehudson/docker_build_service/compare/79e9b5034246...689089283aab",
              "commits": [
                {
                  "id": "689089283aab74acbc880cf450b6aed457de65b1",
                  "distinct": true,
                  "message": "add new modules, refactor",
                  "timestamp": "2015-07-19T21:56:19-04:00",
                  "url": "https://github.com/lancehudson/docker_build_service/commit/689089283aab74acbc880cf450b6aed457de65b1",
                  "author": {
                    "name": "Lance Hudson",
                    "email": "lance@clariturehealth.com",
                    "username": "lancehudson"
                  },
                  "committer": {
                    "name": "Lance Hudson",
                    "email": "lance@clariturehealth.com",
                    "username": "lancehudson"
                  },
                  "added": [
                    "api/config.json",
                    "api/ping/config.json",
                    "api/ping/index.js",
                    "gulpfile.js",
                    "lib/catchJsonApiErrors.js",
                    "lib/errorHandler/error.jade",
                    "lib/errorHandler/index.js",
                    "lib/helmet.js"
                  ],
                  "removed": [
            
                  ],
                  "modified": [
                    "api/github/test.js",
                    "api/stats/test.js",
                    "api/test.js",
                    "api/users/test.js",
                    "lib/load/index.js"
                  ]
                }
              ],
              "head_commit": {
                "id": "689089283aab74acbc880cf450b6aed457de65b1",
                "distinct": true,
                "message": "add new modules, refactor",
                "timestamp": "2015-07-19T21:56:19-04:00",
                "url": "https://github.com/lancehudson/docker_build_service/commit/689089283aab74acbc880cf450b6aed457de65b1",
                "author": {
                  "name": "Lance Hudson",
                  "email": "lance@clariturehealth.com",
                  "username": "lancehudson"
                },
                "committer": {
                  "name": "Lance Hudson",
                  "email": "lance@clariturehealth.com",
                  "username": "lancehudson"
                },
                "added": [
                  "api/config.json",
                  "api/ping/config.json",
                  "api/ping/index.js",
                  "gulpfile.js",
                  "lib/catchJsonApiErrors.js",
                  "lib/errorHandler/error.jade",
                  "lib/errorHandler/index.js",
                  "lib/helmet.js"
                ],
                "removed": [
            
                ],
                "modified": [
                  "api/github/test.js",
                  "api/stats/test.js",
                  "api/test.js",
                  "api/users/test.js",
                  "lib/load/index.js"
                ]
              },
              "repository": {
                "id": 39285147,
                "name": "docker_build_service",
                "full_name": "lancehudson/docker_build_service",
                "owner": {
                  "name": "lancehudson",
                  "email": "lance@lancehudson.com"
                },
                "private": false,
                "html_url": "https://github.com/lancehudson/docker_build_service",
                "description": "This is a web service designed to conform to the Github api to build docker images and push them to a docker repository.",
                "fork": false,
                "url": "https://github.com/lancehudson/docker_build_service",
                "forks_url": "https://api.github.com/repos/lancehudson/docker_build_service/forks",
                "keys_url": "https://api.github.com/repos/lancehudson/docker_build_service/keys{/key_id}",
                "collaborators_url": "https://api.github.com/repos/lancehudson/docker_build_service/collaborators{/collaborator}",
                "teams_url": "https://api.github.com/repos/lancehudson/docker_build_service/teams",
                "hooks_url": "https://api.github.com/repos/lancehudson/docker_build_service/hooks",
                "issue_events_url": "https://api.github.com/repos/lancehudson/docker_build_service/issues/events{/number}",
                "events_url": "https://api.github.com/repos/lancehudson/docker_build_service/events",
                "assignees_url": "https://api.github.com/repos/lancehudson/docker_build_service/assignees{/user}",
                "branches_url": "https://api.github.com/repos/lancehudson/docker_build_service/branches{/branch}",
                "tags_url": "https://api.github.com/repos/lancehudson/docker_build_service/tags",
                "blobs_url": "https://api.github.com/repos/lancehudson/docker_build_service/git/blobs{/sha}",
                "git_tags_url": "https://api.github.com/repos/lancehudson/docker_build_service/git/tags{/sha}",
                "git_refs_url": "https://api.github.com/repos/lancehudson/docker_build_service/git/refs{/sha}",
                "trees_url": "https://api.github.com/repos/lancehudson/docker_build_service/git/trees{/sha}",
                "statuses_url": "https://api.github.com/repos/lancehudson/docker_build_service/statuses/{sha}",
                "languages_url": "https://api.github.com/repos/lancehudson/docker_build_service/languages",
                "stargazers_url": "https://api.github.com/repos/lancehudson/docker_build_service/stargazers",
                "contributors_url": "https://api.github.com/repos/lancehudson/docker_build_service/contributors",
                "subscribers_url": "https://api.github.com/repos/lancehudson/docker_build_service/subscribers",
                "subscription_url": "https://api.github.com/repos/lancehudson/docker_build_service/subscription",
                "commits_url": "https://api.github.com/repos/lancehudson/docker_build_service/commits{/sha}",
                "git_commits_url": "https://api.github.com/repos/lancehudson/docker_build_service/git/commits{/sha}",
                "comments_url": "https://api.github.com/repos/lancehudson/docker_build_service/comments{/number}",
                "issue_comment_url": "https://api.github.com/repos/lancehudson/docker_build_service/issues/comments{/number}",
                "contents_url": "https://api.github.com/repos/lancehudson/docker_build_service/contents/{+path}",
                "compare_url": "https://api.github.com/repos/lancehudson/docker_build_service/compare/{base}...{head}",
                "merges_url": "https://api.github.com/repos/lancehudson/docker_build_service/merges",
                "archive_url": "https://api.github.com/repos/lancehudson/docker_build_service/{archive_format}{/ref}",
                "downloads_url": "https://api.github.com/repos/lancehudson/docker_build_service/downloads",
                "issues_url": "https://api.github.com/repos/lancehudson/docker_build_service/issues{/number}",
                "pulls_url": "https://api.github.com/repos/lancehudson/docker_build_service/pulls{/number}",
                "milestones_url": "https://api.github.com/repos/lancehudson/docker_build_service/milestones{/number}",
                "notifications_url": "https://api.github.com/repos/lancehudson/docker_build_service/notifications{?since,all,participating}",
                "labels_url": "https://api.github.com/repos/lancehudson/docker_build_service/labels{/name}",
                "releases_url": "https://api.github.com/repos/lancehudson/docker_build_service/releases{/id}",
                "created_at": 1437190127,
                "updated_at": "2015-07-18T17:15:34Z",
                "pushed_at": 1437357399,
                "git_url": "git://github.com/lancehudson/docker_build_service.git",
                "ssh_url": "git@github.com:lancehudson/docker_build_service.git",
                "clone_url": "https://github.com/lancehudson/docker_build_service.git",
                "svn_url": "https://github.com/lancehudson/docker_build_service",
                "homepage": null,
                "size": 0,
                "stargazers_count": 0,
                "watchers_count": 0,
                "language": "JavaScript",
                "has_issues": true,
                "has_downloads": true,
                "has_wiki": true,
                "has_pages": false,
                "forks_count": 0,
                "mirror_url": null,
                "open_issues_count": 0,
                "forks": 0,
                "open_issues": 0,
                "watchers": 0,
                "default_branch": "master",
                "stargazers": 0,
                "master_branch": "master"
              },
              "pusher": {
                "name": "lancehudson",
                "email": "lance@lancehudson.com"
              },
              "sender": {
                "login": "lancehudson",
                "id": 1708894,
                "avatar_url": "https://avatars.githubusercontent.com/u/1708894?v=3",
                "gravatar_id": "",
                "url": "https://api.github.com/users/lancehudson",
                "html_url": "https://github.com/lancehudson",
                "followers_url": "https://api.github.com/users/lancehudson/followers",
                "following_url": "https://api.github.com/users/lancehudson/following{/other_user}",
                "gists_url": "https://api.github.com/users/lancehudson/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/lancehudson/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/lancehudson/subscriptions",
                "organizations_url": "https://api.github.com/users/lancehudson/orgs",
                "repos_url": "https://api.github.com/users/lancehudson/repos",
                "events_url": "https://api.github.com/users/lancehudson/events{/privacy}",
                "received_events_url": "https://api.github.com/users/lancehudson/received_events",
                "type": "User",
                "site_admin": false
              }
            }

+ Response 202 (text/plain)

        Build Pending

+ Response 202 (text/plain)

        ref unconfigured, aborting.

+ Response 400 (text/plain)

        API requires header "Content-Type" set to "application.json"

+ Response 400 (application/json)

        {
          errors: [
            {
              code: 'bad_signature',
              title: 'API requires header "X-Hub-Signature" ' +
                'to be set to a valid signature.',
            },
          ],
        }

+ Response 400 (application/json)

        {
          errors: [
            {
              code: 'invalid_request',
              title: 'API requires header "X-Github-Event" ' +
                'to be set to a supported event type.',
            },
          ],
        }


