<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Docker Build Service</title>
  </head>
  <body style="display:none">
    <%- include('header') -%>
    <%- body %>
    <%- include('footer') -%>
    <script src="js/bundle.js"></script>
  </body>
</html>
